{% extends 'base.html' %}
{% load static %}

{% block title %}Preturi{% endblock %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        <title>Lista servicilor </title>
    </head>
    <body>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Tratamente corporale</h5>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Denumire</th>
                    <th>Preturi (RON)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Hidratare faciala</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Peeling facial</td>
                    <td> 50</td>
                </tr>
                <tr>
                    <td>Microdermabraziune</td>
                    <td>150</td>
                </tr>
                <tr>
                    <td>Tratamente Electrodem</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Masaj facial</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Epilare faciala cu ceara unica folosinta - mustata</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Epilare faciala cu ceara unica folosinta - barbie</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Epilare cu ceara - axila</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Epilare cu ceara - brate scurt/ lung</td>
                    <td>25/30</td>
                </tr>

                <tr>
                    <td>Epilare cu ceara - abdomen/ spate</td>
                    <td>30/35</td>
                </tr>

                <tr>
                    <td>Epilare cu ceara - fese</td>
                    <td>30</td>
                </tr>

                <tr>
                    <td>Epilare cu ceara - inghinal partila/total</td>
                    <td>15/50</td>
                </tr>

                <tr>
                    <td>Epilare cu ceara - picioare scurt/lung</td>
                    <td>40/45</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    </body>
    </html>

{% endblock %}
